In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("IMDB_Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [5]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [6]:
unique_sent = df['sentiment'].unique()
sent_num = {}
i = 0
for sn in unique_sent:
    sent_num[sn]=i
    i+=1
df['sentiment'] = df['sentiment'].map(sent_num)

In [7]:
df

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          0
1      A wonderful little production. <br /><br />The...          0
2      I thought this was a wonderful way to spend ti...          0
3      Basically there's a family where a little boy ...          1
4      Petter Mattei's "Love in the Time of Money" is...          0
...                                                  ...        ...
49995  I thought this movie did a down right good job...          0
49996  Bad plot, bad dialogue, bad acting, idiotic di...          1
49997  I am a Catholic taught in parochial elementary...          1
49998  I'm going to have to disagree with the previou...          1
49999  No one expects the Star Trek movies to be high...          1

[50000 rows x 2 columns]

In [8]:
df['review'] = df['review'].apply(lambda x: x.lower())

In [9]:
import string
def remove_punc(txt):
    return txt.translate(str.maketrans('','',string.punctuation))

In [10]:
df['review'] = df['review'].apply(remove_punc)

In [11]:
def remove_num(txt):
    st = ""
    for i in txt:
        if not i.isdigit():
            st+=i
    return st

In [12]:
df['review'] = df['review'].apply(remove_num)

In [ ]:
def remove_emoji(txt):
    st=""
    for i in txt:
        if i.isascii():
            st+=i
    return st

In [14]:
df.sample(5)
df.shape

(50000, 2)